body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

hr {
    border: none;
    height: 2px;
    background-color: #bcbbbb;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

.title-logo {
  margin-top: 20px;
}

.central-img {
    margin: 0 auto;
    max-width: 100%;
}

@media only screen and (max-width: 630px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 19px;
  }

  a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 16px;
  }

  a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 455px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 14px;
  }

  a {
    font-size: 12px;
  }
}